/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #415A77;
    color: aliceblue;
    padding-bottom: 1rem;
  }
  
  .avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 150%;
  }
  
  .notification-button button {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: 6px;
    padding-left: 30px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
body.light-mode {
  background-color: #fff;
  color: #333;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-light-toggle
{
  margin-right: 30px;
  display: flex;
}
.svg-inline--fa.fa-sun 
{
  margin-top: 5px;
  padding-right: 10px;
  font-size: 25px;
}
.svg-inline--fa.fa-moon
{
  margin-top: 5px;
  padding-left: 10px;
  font-size: 25px;
}
.svg-inline--fa.fa-bell
{

  font-size: 20px;
}
